# Android SDK joylashuvi. Bu faylni local.properties deb nusxalang va o'z yo'lingizni yozing.# Windows: C:\\Users\\USERNAME\\AppData\\Local\\Android\\Sdk# Mac/Linux: /Users/USERNAME/Library/Android/sdk## Yoki tizimda ANDROID_HOME (yoki ANDROID_SDK_ROOT) o'zgaruvchisi bo'lsa, # Android Studio loyihani ochganda avtomat local.properties yaratadi.sdk.dir=C\:\\Users\\USERNAME\\AppData\\Local\\Android\\Sdk